*.fa
*.fai
.vscode
!metagraph/tests/data/*.fa
!metagraph/tests/data/*.fai
metagraph/tests/data/*dump_test*
projects/*/temp
visualization/geolocation/data/*
.history
*/metagraph
metagraph_DNA
testrun*
*.dbg
*.annodbg
*.edgemask
*.dbg.chunk*
*.dbgsdchunk
*.fna
*.gch
database-cli
*.DS_Store
*._*
metagraph/build*
metagraph/**/build*
.*.swp
.ipynb_checkpoints
*lsf.o*
*.lsf
*.pyc
*.un~
tags
**/cmake-build-debug
.idea
*.bin
test_data/
metagraph/CMakeFiles*
metagraph/external-libraries*
gen_sdsl_vectors
*.a
Makefile
cmake_install.cmake
CMakeCache.txt
external-libraries*
build/
benchmark_data/
*.gemini*
build_static/